body {
    font-family: Roboto, sans-serif;
}
.main-container {
    width: 625px;
    height: 532px;
    max-height: 523px;
    margin: auto;
    padding: 20px;
    background-color:hwb(46 37% 40%) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.todo-list {
    max-height: 260px; /* Maximum height for the list */
    overflow-y: 240px; /* Add a vertical scrollbar when needed */
    height: 260px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    
    padding: 10px;
    border: 1px solid #ccc;
}
.actions {
    display: none;
}
#task-input{
    width: 417px;
    height: 46px;

}

#add-button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #2457C5;
    font-weight: bold;
    color: aliceblue;
}

